---
layout: default
---

<div class="main-post-list hidden">

  <ol class="post-list">
    {% for post in paginator.posts %}
    <li>
      <h2 class="post-list__post-title post-title"><a href="{{ post.url }}" title="访问 {{ post.title }}">{{ post.title }}</a></h2>
      <p class="excerpt">{{ post.content | strip_html | strip_newlines | truncate: 250 }}&hellip;</p>
      <div class="post-list__meta">
        <time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__meta--date date">
          <img src="/images/calendar.png" width="20px" />
          {{ post.date | date: "%F"}}</time>
        <div class = "tag-img-icon">
          <img src="/images/tag-icon.svg" width="20px" />
        </div>
        <a href="/tags">
          <div class = "post-list-icon-mate">
            <span class="post-list__meta--tags-right">{{ post.tags }}</span>
          </div>
          <div class = "post-list-small-mate">
          <a class="btn-border-small" href={{ post.url }}>阅读全文 » </a>
          </div>
      </div>
      <hr class="post-list__divider" />
    </li>
    {% endfor %}
  </ol>

  {% include pagination.html %}

</div>

<div>
  <!-- Your XlchPlayerKey -->
  <script>XlchKey="freeplaygame";</script>
  <!-- font-awesome 4.2.0 -->
  <link href="https://lib.baomitu.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- JQuery 2.2.4 -->
  <script src="https://lib.baomitu.com/jquery/2.2.4/jquery.min.js"></script>
  <!-- JQuery-mousewheel 3.1.9 -->
  <script src="https://lib.baomitu.com/jquery-mousewheel/3.1.9/jquery.mousewheel.min.js"></script>
  <!-- Scrollbar -->
  <script src="https://static.https.badapple.top/BadApplePlayer/js/scrollbar.js"></script>
  <!-- BadApplePlayer -->
  <script src="https://static.https.badapple.top/BadApplePlayer/Player.js"></script>
</div>
