<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <span class="mobile btn-mobile-menu">
      <div class="nav_container">
         <nav class="nav-menu-item" style = "float:right">
            <i class="nav-menu-item">
              <a href="/#blog" title="{{site.blog_button.description}}" class="blog-button">  {{site.blog_button.title}}
              </a>
            </i>
            {% for item in site.nav %}
                <i class="nav-menu-item">

                  <a href="{{item.url}}" title="{{item.description}}" class="btn-mobile-menu__icon">
                      {{item.title}}
                  </a>
                </i>
            {% endfor %}
          </nav>
      </div>
    </span>

    {% include side-panel.html %}

    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            {{ content }}
            {% include footer.html %}
        </div>
    </div>

    {% include external.html %}

    <div>
      <!-- Your XlchPlayerKey -->
      <script>XlchKey="freeplaygame";</script>
      <!-- font-awesome 4.2.0 -->
      <link href="http://lib.baomitu.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <!-- JQuery 2.2.4 -->
      <script src="http://lib.baomitu.com/jquery/2.2.4/jquery.min.js"></script>
      <!-- JQuery-mousewheel 3.1.9 -->
      <script src="http://lib.baomitu.com/jquery-mousewheel/3.1.9/jquery.mousewheel.min.js"></script>
      <!-- Scrollbar -->
      <script src="http://static.badapple.top/BadApplePlayer/js/scrollbar.js"></script>
      <!-- BadApplePlayer -->
      <script src="http://static.badapple.top/BadApplePlayer/Player.js"></script>
    </div>

  </body>

</html>
